<div class="register-container">
    <h2>Cadastrar Novo Perfil de EStagiário</h2>
    <p>Preencha os dados para criar um perfil de Estagiário</p>
  
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Nome Completo:</label>
        <input id="name" type="text" formControlName="name" placeholder="Nome do Estagiário">
      </div>
  
      <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email" placeholder="email@contato.com">
      </div>
  
      <div class="form-group">
        <label for="startDate">Data de Início:</label>
        <input id="startDate" type="date" formControlName="startDate">
      </div>
      
      <div class="form-group">
        <label for="company">Empresa:</label>
        <input id="company" type="text" formControlName="company" placeholder="Nome da Empresa">
      </div>

      <div class="form-group">
        <label for="techStack">Tecnologias (separadas por vírgula):</label>
        <input id="techStack" type="text" formControlName="techStack" placeholder="Ex: Angular, Node.js, TypeScript">
      </div>
  

      <div class="form-group">
        <label for="bio">Pequena Descrição:</label>
        <textarea id="bio" formControlName="bio" rows="3"></textarea>
      </div>
  
      <div class="form-actions">
        <button type="submit" [disabled]="!registerForm.valid">Cadastrar Perfil</button>
        <button type="button" (click)="goBack()">Cancelar</button>
      </div>
  
    </form>
  </div>
  